[submodule "containers/drupal7_source/drupal"]
	path = containers/drupal7_source/drupal
	url = http://git.drupal.org/project/drupal.git
[submodule "containers/drupal7_source/modules/coder"]
	path = containers/drupal7_source/modules/coder
	url = http://git.drupal.org/project/coder.git
